<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Server</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>bncs_server</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>Battle.net Server</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>bnls_server</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>BNLS Server</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Authentication</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Product</string>
			<key>Key</key>
			<string>product</string>
			<key>DefaultValue</key>
			<string>STAR</string>
			<key>Values</key>
			<array>
				<string>STAR</string>
				<string>SEXP</string>
				<string>W2BN</string>
				<string>D2DV</string>
				<string>D2XP</string>
				<string>WAR3</string>
				<string>W3XP</string>
			</array>
			<key>Titles</key>
			<array>
				<string>StarCraft</string>
				<string>StarCraft: Brood War</string>
				<string>WarCraft II: Battle.net Edition</string>
				<string>Diablo II</string>
				<string>Diablo II: Lord of Destruction</string>
				<string>WarCraft III: Reign of Chaos</string>
				<string>WarCraft III: The Frozen Throne</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>CD-Key</string>
			<key>Key</key>
			<string>cdkey</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Username</string>
			<key>Key</key>
			<string>username</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Password</string>
			<key>Key</key>
			<string>password</string>
			<key>IsSecure</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Home channel</string>
			<key>Key</key>
			<string>home_channel</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
